<!DOCTYPE html>
<html>
  {% include 'head.html.twig' %}

  <body id="frontBody">
    <div id="cloud">
    <!-- ヘッダー -->
    {#
    <div id="header-fixed">
      <div id="header-bk">
        <div id="header">
          <ul id="fe-drawer" class="inline-block">
            <li class="hvr-float-shadow hvr-icon-pulse-grow" style="padding-right: 0;"><a href="/">Top</a></li>
            <!-- <li class="hvr-float-shadow hvr-icon-buzz" style="padding-right: 0;"><a href="activityDetail">ActivityDetail</a></li>
            <li class="hvr-float-shadow hvr-icon-grow" style="padding-right: 0;"><a href="clanMember">ClanMember</a></li> -->
            <li class="hvr-float-shadow hvr-icon-rotate" style="padding-right: 0;"><a href="gallery">Gallery</a></li>
            <li class="hvr-float-shadow hvr-icon-bounce" style="padding-right: 0;"><a href="joinToClan">JoinToClan</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ドロワー -->
    {% include 'drawer.twig' %}
    #}

    <div style="position: fixed; z-index: 99;">
      {% include 'gooey_menu.twig' %}
    </div>

    <div id="body-bk">
      <div id="body">
        {% block body %}{% endblock %}
      </div>
    </div>

    <!-- フッター -->
    <!-- <div id="footer-fixed">
      <div id="footer-bk">
        <div id="footer"></div>
      </div>
    </div> -->

    </div>
  </body>

</html>

{#
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block body2 %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
#}
