{% extends "frontend/base.html.twig" %}

{% block body %}
  <div id="body-bk">
    <div id="body">
      <div class="animated {{titleAnimation}} milky frontTitleSize">空色えきぞちっく</div>
      <div class="subTitle">-- sorairo exotic --</div>
      <!-- <div class="">{{urlCode}}</div> -->
      {% include (urlCode) %}
    </div>
  </div>
{% endblock %}
