<!-- <div style="text-align: center;">
  <h2 >クラン紹介</h2>
</div> -->
<div style="float:left; width:20%;">
  <h2>これは左の要素です</h2>
  <ul>
    <li>リスト１</li>
    <li>リスト１</li>
    <li>リスト１</li>
    <li>リスト１</li>
    <li>リスト１</li>
  </ul>
</div>
<div style="float:left; width: 60%; text-align: center;">
  <h2 style="color: #FFFFFF;">クラン紹介</h2>
  <a>あいうえおかきくけこさしすせそ。たちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをん。
    あいうえおかきくけこさしすせそ。たちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをん。
    あいうえおかきくけこさしすせそ。たちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをん。
  </a>
  <div style="color: #FFFFFF;">ここに入力</div>
  <textarea></textarea>
</div>
<div style="float:right; width: 20%;">
  <h2>これは右の要素です</h2>
  <ul>
    <li>リスト１</li>
    <li>リスト１</li>
    <li>リスト１</li>
    <li>リスト１</li>
    <li>リスト１</li>
  </ul>
</div>
