<!DOCTYPE html>
<div class="" data-effect="pure-effect-flipX">
  <input type="checkbox" id="pure-toggle-top" class="pure-toggle" data-toggle="top">
  <label class="pure-toggle-label" for="pure-toggle-top" data-toggle-label="top">
    <span class="pure-toggle-icon"></span>
  </label>
  <div class="pure-drawer" data-position="top" style="height: 70px;">
    Login：<input type="text">
  </div>
  <!-- <div class="pure-pusher-container">
    <div class="pure-pusher"> Put your site content here </div>
  </div> -->
  <label class="pure-overlay" for="pure-toggle-top" data-overlay="top" style="top: 70px; background-color: rgba(0, 0, 0, 0.7);">
    <h1 class="overlayText">Are you a clan member?</h1>
    <!-- <h1 class="animated infinite wobble overlayText">?</h1> -->
  </label>
</div>
