<!DOCTYPE html>
<html>
  <head>
    <title>空色えきぞちっく</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link -->
    <link rel="shortcut icon" href="icons/clan_emblem_favicon.png" type="image/png">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="bower_components/pure-drawer-master/dist/css/pure-drawer.css" >
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" > -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
    <!-- Script -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="bower_components/wow/dist/wow.js"></script>
  </head>
  <body>
    <div id="header-fixed">
      <div id="header-bk">
        <div id="header">
          <div class="text">This is the clan home page of the AVA</div>
          <div class="text">It is possible to know the clan that "SORAIRO EXOTIC"</div>
        </div>
      </div>
    </div>
    <!-- ドロワー -->
    {% include 'drawer.twig' %}

    <div id="body-bk">
      <div id="body">
        <div class="animated fadeInDown title">空色えきぞちっく</div>
        <div class="animated flash subTitle">-- sorairo exotic --</div>
        <ul class="position inline-block">
          <li class="hvr-float-shadow hvr-icon-pulse-grow" style="padding-right: 0;">Introduction</li>
          <li class="hvr-float-shadow hvr-icon-buzz" style="padding-right: 0;">ActivityDetail</li>
          <li class="hvr-float-shadow hvr-icon-grow" style="padding-right: 0;">ClanMember</li>
          <li class="hvr-float-shadow hvr-icon-rotate" style="padding-right: 0;">Gallery</li>
          <li class="hvr-float-shadow hvr-icon-bounce" style="padding-right: 0;">JoinToClan</li>
        </ul>
        <!-- <div class="">{{test}}</div> -->
        <!-- {% include 'test.twig' %} -->
      </div>
    </div>

    <div id="footer-fixed">
      <div id="footer-bk">
        <div id="footer"></div>
      </div>
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html> -->
