<!DOCTYPE html>
<html>
  <head>
    <title>空色えきぞちっく</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link -->
    <link rel="shortcut icon" href="icons/clan_emblem_favicon.png" type="image/png">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="bower_components/pure-drawer-master/dist/css/pure-drawer.css" >
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" > -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Script -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/wow/dist/wow.js"></script>
  </head>
  <body>
    <div id="header-fixed">
      <div id="header-bk">
        <div id="header"></div>
      </div>
    </div>
    <!-- ドロワー -->
    {% include 'drawer.twig' %}

    <div id="body-bk">
      <div id="body">
        <h1 class="animated infinite bounce site__title">Example</h1>
        <div class="">{{test}}</div>
        {% include 'test.twig' %}
      </div>
    </div>

    <div id="footer-fixed">
      <div id="footer-bk">
        <div id="footer"></div>
      </div>
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html> -->
