<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" >
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="script.js"></script> -->
  </head>
  <body>
    <div class="name">{{test}}</div>
    {% include 'test.twig' %}
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html> -->
