<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
  </head>
  <body>
    <h1>'{{test}}'にアクセス </h1>
    <div>test1 = {{test1}}</div>
    <div>test1を参照値 = {{test2}}</div>
    <div>配列 = {{array}}</div>
  </body>
</html>
