<div class="remodal" data-remodal-id="createMemberModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>メンバー追加</h1>

  <form class="w3-container" action="createAction" method=“post”>
    <div class="left">
      <label class="w3-label">おなまえ</label>
        <input name="name" class="w3-input" type="text" maxlength='255' placeholder='あなたのおなまえ♡' required>
      <label class="w3-label">れんらくさき</label>
        <input name="contact" class="w3-input" type="text" maxlength='255' placeholder='ついったーとか♡'>
      <label class="w3-label">あそんでいるげーむ</label>
        <input name="playingGames" class="w3-input" type="text" maxlength='255' placeholder='カンマ（,）区切りで書いてね♡'>
      <label class="w3-label">じこしょうかい</label>
        <textarea name="introduction" class="w3-input"rows="4" placeholder='あなたのすべてをさらけだして♡'></textarea>
   </div>
   <br>
    <button data-remodal-action="cancel" class="remodal-cancel">キャンセル</button>
    <button class="remodal-confirm">登録</button>
  </form>
</div>

<script>
  {# Enterキーでキャンセルボタンが実行されるから仕方なく制御 #}
  $(function(){
    $("input").on("keydown", function(e) {
      if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
        return false;
      } else {
        return true;
      }
    });
  });
</script>
