<div class="remodal" data-remodal-id="editMemberModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>メンバー追加</h1>

  <form class="w3-container left">
    <label class="w3-label">おなまえ</label>
      <input class="w3-input" type="text" maxlength='255' placeholder='あなたのおなまえ♡' required>
    <label class="w3-label">れんらくさき</label>
      <input class="w3-input" type="text" maxlength='255' placeholder='ついったーとか♡'>
    <label class="w3-label">あそんでいるげーむ</label>
      <input class="w3-input" type="text" maxlength='255' placeholder='そのままのとおり♡'>
    <label class="w3-label">じこしょうかい</label>
      <textarea class="w3-input" name="kanso" rows="4"></textarea>
  </form>

  <button data-remodal-action="cancel" class="remodal-cancel">キャンセル</button>
  <button data-remodal-action="confirm" class="remodal-confirm">登録</button>
</div>
