<!DOCTYPE html>
<html>
  {% include 'head.html.twig' %}

  <body class="backendBody">
    <!-- ドロワーベースでページを作成 -->
    <div class="pure-container" data-effect="pure-effect-scaleRotate">
      <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left">
      <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">
        <span class="pure-toggle-icon"></span>
      </label>

      <!-- ドロワーのリスト部分 -->
      <div class="pure-drawer" data-position="left">
        <ul id="be-drawer" class="be-inline-block">
          <a href="MemberPage"><li class="hvr-bounce-to-right">ホーム</li></a>
          <a href="EditMember"><li class="hvr-bounce-to-right">メンバー編集</li></a>
          <li class="hvr-bounce-to-right">ギャラリー編集</li>
          <li class="hvr-bounce-to-right">入隊申請</li>
          <a href="/"><li class="hvr-bounce-to-right">観覧ページ</li></a>
        </ul>
      </div>

      <!-- 実際のページ表示はここ -->
      <div class="pure-pusher-container">
        <div class="pure-pusher">
          {% block body %}{% endblock %}
        </div>
      </div>

      <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
    </div>
  </body>
</html>

{#
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block body2 %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
#}
