<!-- このテンプレートは使ってない -->
<!-- いつか消さないとねｗ -->
<div class="pure-container" data-effect="pure-effect-scaleRotate">
  <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left">
  <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">
    <span class="pure-toggle-icon"></span>
  </label>

  <div class="pure-drawer" data-position="left">
    <ul id="be-drawer" class="be-inline-block">
      <li class="hvr-bounce-to-right">ホーム</li>
      <li class="hvr-bounce-to-right">メンバー編集</li>
      <li class="hvr-bounce-to-right">ギャラリー編集</li>
      <li class="hvr-bounce-to-right">入隊申請</li>
    </ul>
  </div>
  <div class="pure-pusher-container">
    <div class="pure-pusher">
      Put your site content here
    </div>
  </div>
  <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
</div>
