{% extends "base.html.twig" %}

{% block body %}

<body>
  <div class="overlayText1">Are you a clan member?</div>
  <div class="overlayText2">Please the watchword</div>
  <div style="text-align: center;">
    <!-- <input type="text" class="loginForm"> -->
    <!-- <input class="w3-input w3-animate-input" type="text" style="width:30%"> -->
    <form action="loginAction" method=“get”>
      <input class="w3-input w3-border w3-hover-blue" style="width: 20%; display: initial;" type="password" name="watchword" maxlength="15">
      <!-- <input type="hidden" name="isDrawer" value=false> -->
      <button class="hvr-bounce-to-right" style="height: 34px;">送信</button>
    </form>
    {% if errorMessage is defined %}
      <div class="errorMessage">{{ errorMessage }}</div>
    {% endif %}
  </div>
</body>

{% endblock %}
